<h1>New User</h1>

<form method="post" action="/users">
  <label for="user_title">First Name</label><br>
  <input type="text" name="firstName" id="user_first_name"><br>

  <button>Register</button><br>
</form>
